.resultado {
    
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
    background-color: rgba(255, 166, 0, 0.322);
    border-radius: 8px;
    padding: 8px;
}

.resultado  h3{
    margin-bottom: 14px;
    font-size: 25px;
    margin-bottom: 40px;
    color: orange;
}

.resultado p{
    color: orange;
}