


.form {
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

.formInput {
    display: block;
    width: 300px;
    height: 50px;
    background-color: transparent;
    color: #A365E4;
    border: none;
    border-bottom: 3px solid #A365E4;
    outline: none;
    text-indent: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

.formInput:focus{
    color: #A365E4;
    text-indent: 20px;
}

.formInput::placeholder{
    color: #A365E4;
    text-indent: 20px;
}

.formBtn {
    display: block;
    padding: 8px;
    width: 200px;
    font-size: 18px;
    color: white;
    background-color: #A365E4;
    border: 2px solid transparent;
    border-radius: 7px;
    transition-duration: 0.5s;
}

.formBtn:hover {
    border-color: #A365E4;
    background-color: rgba(162, 102, 227, 0.247);
    color: #A365E4;
    transition-duration: 0.5s;
}

