*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    background-color: #f1f1f1;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}


.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.conteudo{
    max-width: 800px;
    width: 100%;
    background-color: rgba(128, 128, 128, 0.781);
    padding: 80px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
}